<div class="modal contenido-modal" ng-click="closeModal(1)">
  <ion-pane>
    <div class="bar bar-header bar-dark">
      <h1 class="title">Ingredientes</h1>
      <button class="button button-icon ion-ios-close-empty"></button>
    </div>
    <ul class="list paddingLista">
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
    </ul>
  </ion-pane>
</div>
